
# Created by https://www.gitignore.io/api/macos
# Edit at https://www.gitignore.io/?templates=macos

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*
*.db

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos

# Игнорировать файлы
admin/inc/config.inc.php

# Игнорируем папки
admin/images/ClientAvatar/*.jpg
admin/images/ClientAvatar/mini/*.jpg
admin/images/Portfolio/*.jpg
admin/images/Portfolio/mini/*.jpg
admin/images/Slider/*.jpg
admin/images/Slider/mini/*.jpg
admin/images/ClientAvatar/*.png
admin/images/ClientAvatar/mini/*.png
admin/images/Portfolio/*.png
admin/images/Portfolio/mini/*.png
admin/images/Slider/*.png
admin/images/Slider/mini/*.png